1.21.4/Sneaker/.gradle
1.21.4/Sneaker/build/
1.21.4/Sneaker/out/
1.21.4/Sneaker/run/ 
1.21.4/Sneaker/classes/
1.21.4/Sneaker/bin/
1.21.10/Sneaker/.gradle
1.21.10/Sneaker/build/
1.21.10/Sneaker/out/
1.21.10/Sneaker/run/ 
1.21.10/Sneaker/classes/
1.21.10/Sneaker/bin/
1.20.1/Sneaker/.gradle
1.20.1/Sneaker/build/
1.20.1/Sneaker/out/
1.20.1/Sneaker/run/ 
1.20.1/Sneaker/classes/
1.20.1/Sneaker/bin/
1.20.1/Sneaker/.idea/
.gradle/
**/build/
**/run/
**/out/
**/bin/
**/.gradle/
**/.idea/
**/classes/
1.21.4/Sneaker/.idea/runConfigurations/Minecraft_Server.xml
1.20.1/Sneaker/.idea/vcs.xml
